<div class="PrincipalPage">
    <app-title></app-title>
    <div>
      <app-subtitle [title]="experience"></app-subtitle>
      <app-section [body]="bodySection1" [date]="date1" [title]="title1"></app-section>
      <app-section [body]="bodySection2" [date]="date2" [title]="title2"></app-section>
  
    </div>
    <div>
      <app-subtitle [title]="Education"></app-subtitle>
      <app-section [body]="bodySection3" [date]="date3" [title]="title3"></app-section>
      <app-section [body]="bodySection4" [date]="date4" [title]="title4"></app-section>
    </div>
    <div class="containerx">
      <app-subtitle [title]="Skills"></app-subtitle>
    
      <app-container-skills>
  
      </app-container-skills>
  
  
    </div>

  
  
  </div>