
<div class="containerSkills">
    <div class="column1">
      <h3 class="title">
        languages
        </h3>
      <app-skill [progress]="progress1" [language]="language1"> </app-skill>
      <app-skill [progress]="progress1" [language]="language1"> </app-skill>
      <app-skill [progress]="progress1" [language]="language1"> </app-skill>
      <app-skill [progress]="progress1" [language]="language1"> </app-skill>
    </div>
    <div class="column2">
      <h3 class="title">
        languages
        </h3>
      <app-skill [progress]="progress1" [language]="language1"> </app-skill>
      <app-skill [progress]="progress1" [language]="language1"> </app-skill>
      <app-skill [progress]="progress1" [language]="language1"> </app-skill>
      <app-skill [progress]="progress1" [language]="language1"> </app-skill>

    </div>

  </div>