<div class="mine">
   <div>
      <app-img [image]="image"></app-img>
   </div>

   <div class="interest">
      <div class="parentcontainer">  
          <app-subtitle [title]="Interest"></app-subtitle>

         <div class="container">

            <app-interest [logo]="logo1" [head]="head1" [text]="text1"></app-interest>

         </div>
         <div class="container">

            <app-interest [logo]="logo1" [head]="head1" [text]="text1"></app-interest>

         </div>
         <div class="container">

            <app-interest [logo]="logo1" [head]="head1" [text]="text1"></app-interest>

         </div>
      </div>

      <div class="cet">
         <app-subtitle [title]="contact"></app-subtitle>
         <div class="parentcontainer1">
            <div class="container1">

               <app-contact [logo]="logo2" [text]="text2"></app-contact>

            </div>
            <div class="container1">

               <app-contact [logo]="logo2" [text]="text2"></app-contact>

            </div>
            <div class="container1">

               <app-contact [logo]="logo2" [text]="text2"></app-contact>

            </div>
            <div class="container1">

               <app-contact [logo]="logo2" [text]="text2"></app-contact>

            </div>
         </div>

      </div>
   </div>
</div>
   